<div class="welcome_wrap">
    <h2 class="welcome_title">welcome to Bookers !!</h2>
    <p class="welcome_text">In <b>Bookers</b>, <br>you can share and exchange your opinions , impressions , and emotions <br>about various books!</p>
    
    <div class="top_flex_wrap">
        <div class="flex_content">
            <%= link_to 'Log in', new_user_session_path, class: "home_btn log_in_btn" %>
        </div>
        <div class="flex_content">
            <%= link_to 'Sign Up', new_user_registration_path, class: "home_btn sign_up_btn" %>
        </div>
    </div>
    <small>CopyRight Infratop.inc</small>
</div>


          